$font-size: 50px;

// Color
$n4s: #282c34;
$darkfont: #737c80;
$service: #f0f0f5;
$theme: #4dc9ff;
$fontbar: #737c80;
$darkGreen: #1d3f4d;

// Styles Groups
%center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center {
  @extend %center;
}

%userNo {
  user-select: none;
  cursor: pointer;
}

body {
  margin: 0;
}

.Header {
  font-family: Prompt;
  .logo {
    @extend %userNo;
    transition: 700ms linear;
    padding-left: 20px;
    width: 130px;
  }
  .logo:hover {
    opacity: 0.5;
    
  }

  #barTransparent {
    background-color: transparent;
    padding: 5px 5px 5px 5px;
    transition: 500ms linear;
    .help {
      @extend %userNo;
      color: #fff;
      border: 2px solid #fff;
      padding: .5rem 1rem;
    }
    .help:hover {
      transition: 200ms linear;
      background-color: $theme;
    }
  }
  #barBlack {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
    padding: 5px 5px 5px 5px;
    transition: 500ms linear;
    .help {
      @extend %userNo;
      color: $theme;
      border: 2px solid $theme;
      padding: .5rem 1rem;
    }
    .help:hover {
      color: #fff;
      background-color: $theme;
    }
    .nav-item {
      color: $fontbar!important;
      transition: opacity 0.2s;
    }
    .nav-item:hover {
      color: #b6b6b6!important;
    }
    .navbar-toggler {
      border: 1px solid $fontbar;
    }
    .navbar-toggler-icon {
      -webkit-filter: drop-shadow(0px 1px 0px #000);  
    }
  }
  
}

.Home {
  font-family: Prompt;
  .main {
    .home-picture {
      min-width: 100vw;
      max-height: 100vh;
      filter: brightness(50%);
    }
    .home-text {
      @extend %center;
      @extend %userNo;
      height: 80vh;
      h1 {
        font-family: Prompt;
      }
    }
  }
  .service {
    @extend %userNo;
    background-color: $service;
    // height: 100vh;
    .title {
      color: $darkfont;
    }
  }
  .doctor-team {
    background-color: #fff;
    .title {
      // background-color: $theme;
      // color: #fff;
    }
  }
}
@media(max-width:992px) {
  .Home {
    .title {
      font-size:34px;
    }
  }
  
}

$sizes-font: 10, 12, 14, 16, 18, 20, 22, 23, 24, 25, 26, 28, 30, 32, 34, 40, 46;
@each $size in $sizes-font {
  .f-#{$size} {
    font-size: #{$size}px;
  }
}
$sizes: 1, 2, 3, 4, 5, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32,
  35, 38, 40, 42, 50, 55, 60, 65, 70, 75, 80, 85, 90,95;
@each $size in $sizes {
  // Margin
  .ma-#{$size} {
    margin: #{$size}px !important;
  }
  .mx-#{$size} {
    margin-left: #{$size}px !important;
    margin-right: #{$size}px !important;
  }
  .my-#{$size} {
    margin-top: #{$size}px !important;
    margin-bottom: #{$size}px !important;
  }
  .ml-#{$size} {
    margin-left: #{$size}px !important;
  }
  .mr-#{$size} {
    margin-right: #{$size}px !important;
  }
  .mt-#{$size} {
    margin-top: #{$size}px !important;
  }
  .mb-#{$size} {
    margin-bottom: #{$size}px !important;
  }

  //Padding
  .pa-#{$size} {
    padding: #{$size}px !important;
  }
  .px-#{$size} {
    padding-left: #{$size}px !important;
    padding-right: #{$size}px !important;
  }
  .py-#{$size} {
    padding-top: #{$size}px !important;
    padding-bottom: #{$size}px !important;
  }
  .pl-#{$size} {
    padding-left: #{$size}px !important;
  }
  .pr-#{$size} {
    padding-right: #{$size}px !important;
  }
  .pt-#{$size} {
    padding-top: #{$size}px !important;
  }
  .pb-#{$size} {
    padding-bottom: #{$size}px !important;
  }

  //Border Radius
  .bdr-#{$size} {
    border-radius: #{$size}px !important;
  }
  .bdrl-#{$size} {
    border-radius: #{$size}px 0 0 #{$size}px !important;
  }
  .bdrr-#{$size} {
    border-radius: 0 #{$size}px #{$size}px 0 !important;
  }
  .bdrt-#{$size} {
    border-radius: #{$size}px #{$size}px 0 0 !important;
  }
  .bdrb-#{$size} {
    border-radius: 0 0 #{$size}px #{$size}px !important;
  }
}
